:root{
  color-scheme: dark;
}

body{
  margin: 0;
}

.flex-space-btw{
  display: flex;
  justify-content: space-between;
}
.center{
  text-align: center;
}
.sticky-0{
 position: sticky;
 top: 0;
}
main{
  margin-top: 18px;
}
header{
  background-color: 	#B3B3B3;
  padding: 5px 10px;
  position: sticky;
  top: 0;
  box-shadow: 5px 2px 5px 5px 	#B3B3B3;
  z-index: 1;
}
[data-theme="dark"]  header{
  background-color: #757575;
  box-shadow: 5px 2px 5px 5px #757575;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: 	#B3B3B3;
  z-index: 1;
}
[data-theme="dark"] footer{
  background-color: #757575;
}

button{
  border: none;
  background: none;
  cursor: pointer;
}
button:hover{
  background-color: #a4b718;
}
button:hover::after{
  content: attr(hover-content);
}
a {
  color:black;     
  text-decoration: none; 
}
[data-theme="dark"] a {
  color: white
}

/*Slider */
.slider {
  padding-top: 10px;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  width: 0;
  height: 100%;
  background-color:  #f1f1f1;
  transition: width 0.3s ease;
  z-index: 3;
}
[data-theme="dark"] .slider{
  background-color: #212121;
}

.left-slider {
  left: 0;
}
.right-slider {
  right: 0;
}

.slider-content {
  margin-bottom: 50px;
  padding: 20px;
}

.close-button,.back-button {
  background-color: #000000;
  color: white;
  padding: 10px;
  border-radius:20%;
}
.close-button{
  position: absolute;
  right: 5px;
}

.button-style{
  box-shadow: inset 5px 5px 12px #656262, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border-radius: 10%;
  padding: 15px;
}

.box-styling{
  border-radius: 8px;
  padding: 20px;
  margin: 5px 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #4CAF50;
  border-bottom: 5px solid;
  overflow-wrap: break-word;
}

/* Anchor Decoration*/
.link {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
  padding: 5px;
}
.link:hover {
    background-color: #4CAF50; 
    color: white; 
    border-color: #4CAF50;
    transform: scale(1.05);
}    
.link-active {
  transform: scale(1);
  background-color: #85dc8a;
}
[data-theme="dark"] .link-active {
  background-color: #0c450f;
}
