 /* Your CSS styles go here */
 body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.top-pane {
  background-color: #333;
  color: #d79494;
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  height: 40px;
  z-index: 5;
}
@media (max-width: 650px) {
  .top-pane {
    font-size: x-small;
    height: 60px;
  }
  .infobutton,.slider-right-button,.slider-left-button{
    font-size: xx-small;
  }
  .input-pane{
    flex-direction: column;
  }
  .option-button{
    font-size: x-small;
  }
  #inputFieldsContainer{
    font-size: x-small;
  }
  
}
@media(max-width:1000px) {
  .output-container{
    flex-direction: column;
  }
}
.upper-pane {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h4 {
  margin: 0;
}


.left-slider,
.right-slider {
  position: fixed;
  overflow-y: scroll;
  transition: width 0.3s ease;
  z-index: 6;
}

.left-slider {
  top: 0;
  width: 0;
  height: 100%;
  background-color:  #9c8f8f;
  left: 0;
}

.right-slider {
  display: flex;
  flex-direction: column;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #9c8f8f;
  right: 0;
}

.close-button {
  background-color: #000000;
      color: white;
      padding: 2px;
      cursor: pointer;
      border: none;
      position:absolute ;
      top: 10px;
      right: 10px;
}
.close-button:hover {
  background-color: #c9302c;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  border-radius: 8px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}

/* Chat history container on the left */
.calculation-history {
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
  border-radius: 0.5px;
  margin: 5px; 
  text-align: justify;
}
table {
            border-collapse: collapse;

        }
        th {
            background-color:green;
            Color:white;
        }
        th, td {
            width:200px;
         
        }
        .geeks {
            border-right:hidden;
        }
        .gfg {
            border-collapse:separate;
            border-spacing:0 15px;
        }

  /* Style for the special buttons */
  .special-buttons {
    text-align: center;
    background-color: #ccc;
    overflow-x: auto;
  }

  .special-buttons button:hover {
    background-color: #830606; /* Change the background color on hover */
    transform: scale(1.1);
  }
  /* Add similar styles for other buttons */


/* Submit button style */
.submit-button,.delete-button,.clear-button ,.toogle-buttons,.option-button{
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 10%;
  margin: 8px;
  font-size: small;
}
.submit-button{
width: 40px;
}


.clear-button:hover::before {
  content: "Clear";
  display: block;
  position: absolute;
  top: 50%; /* Adjust the positioning as needed */
  left: 50%; /* Adjust the positioning as needed */
  transform: translate(-50%, -50%);
  color: white; /* Adjust the text color */
}

.delete-button:hover::before {
  content: "Delete";
  display: block;
  position: absolute;
  top: 50%; /* Adjust the positioning as needed */
  left: 50%; /* Adjust the positioning as needed */
  transform: translate(-50%, -50%);
  color: white; /* Adjust the text color */
}
.submit-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  }
.submit-button:hover::before {
  content: "Submit";
  display: block;
  position: absolute;
  top: 50%; /* Adjust the positioning as needed */
  left: 50%; /* Adjust the positioning as needed */
  transform: translate(-50%, -50%);
  color: rgb(106, 4, 4); /* Adjust the text color */
}

  
        .calculation-entry {
            margin: 2px 0;
            padding: 2px;
            background-color:color-mix(in srgb, color percentage, color percentage);
            border: 0.5px solid #600606;
            border-radius: 10px;
            color-scheme: white;
        }
      
        .main-content{
          margin-top:50px;

        }
        @media (max-width: 650px) {
          .main-content{
            margin-top:70px;
  
          }
        }

        .input-pane {
            background-color: #f2f2f2;
            display: flex;   
        }

#user-input-form{
  display: flex;
  flex : 90%;
}
.option-dots {
    display: flex;
    align-items: center;
    margin: 50px;
  }
  
  .option-dot {
    background-color: #ace550; 
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    border: 3px solid #271e02;
    font-size:small;
    white-space: nowrap;
  }
  
  .option-dot input[type="radio"] {
    display: none;
  }

  
.option-dot span::before {
    content: attr(data-option);
    position: absolute;
    top: -40px; /* Display above the dot */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffbf00; /* Premium golden color */
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    display: none;
    z-index: 2;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); /* Slight shadow */
  }
  
  
  .option-dot span::after {
    content: attr(data-option);
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffbf00; /* Premium golden color */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    display: none;
    z-index: 2;
    box-shadow: 0px 0px 8px rgba(74, 6, 6, 0.5); /* Slight shadow */
  }
  
  .option-dot:hover span::before {
    display: block;
   
  }
  
  .option-dot input[type="radio"]:checked + span::after {
    top: 28px; /* Display below the dot */
    display: block;
    background-color: #007bff; /* Premium selected color */
  }

.moving-strip {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;
  z-index: 1;
}

.moving-strip p {
  white-space: nowrap;
  animation: moveText 20s linear infinite;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-150%);
  }
}
#toggleButton {
  padding: auto;
  margin: 20px;
  background-color: #e6b0ee;
  color: #970b0b;
  cursor: pointer;

}
#toggleButton:active{
  background-color: #3e78b2;
}
#toggleButton:hover {
  background-color: #bb0868; /* Change the background color on hover */
}
#toggleButton:hover::before {
  content: "Display / Hide Keyboard";
  display: block;
  position: absolute;
  color: rgb(0, 0, 0); /* Adjust the text color */
}
#optionsLabel {
  position: relative;
  display: inline-block;
}

#optionsDiv {
  position: absolute;
  background: rgb(253, 253, 253);
  opacity: 0;
  visibility: hidden;
  padding: 1px;
  border: 1px solid #ccc;
  transition: opacity 0.3s;
  white-space: nowrap; 
}

#optionsLabel .label-strip label:hover {
  cursor: pointer;
}

#optionsLabel:hover #optionsDiv {
  opacity: 100%;
  visibility: visible;
  z-index: 2;
}


/* Style for the input field */
.input-area {
  width: 100%;
  padding: 2px;
  margin: 2px;
  border: 2px solid #ccc;
  border-radius: 2px;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
#inputFieldsContainer{
  flex:90% ;
}
.input-container{
  width: 80%;
  padding: 2px;
  margin: 2px;
  border: 2px solid #f19292;
  border-radius: 2px;
}
.output-container{
  text-align: justify;
  margin: 25px;
  border: #333;
  border-radius: 2px;
  background-color: #0000000a;
  display: flex;
}
/* Style for the label */
.input-label {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  margin: 0;
  font-family: Arial, sans-serif;
}

 .info-button button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.info-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.info-item {
      display: none;
      position:absolute;
      margin: auto;
      padding: auto;
      background-color: #ffcfcf;;
      padding: 20px;
      border-radius: 8px;
      z-index: 10;
}

.info-item.active {
  display: block;
}
