body {
  margin: 0;
  font-family: Arial, sans-serif;
  --keycap-height: 30px;
  --keycap-font-size: 15px;
  --keycap-shift-font-size: 15px;
  --keycap-gap : 0.5px;
}

.slider-right-button{
  display: none;
}
main {
  padding: 50px 5px;
  display: flex;
  justify-content: space-between;
}
.left-span,.right-span {
  padding: 5px;
  border-radius: 5px;
}
.left-span{
  width: 24%;
  background-color: #f0f0f0; 
}
.right-span {
  width: 74%;
  background-color: #fff; 
  overflow: auto;
}

.dropdown-menu{
  height: 50px;
}
.what-i-do{
  margin: 10px;
}
.option-link {
  color: black;
  display: inline-block;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  margin: 2px;
  padding: 5px;
}

.option-link:hover {
    background-color: #4CAF50; /* Change background on hover */
    color: white; /* Change text color on hover */
    border-color: #4CAF50; /* Change border color */
    transform: scale(1.05); /* Slight zoom effect */
}

.option-link:active {
    transform: scale(1);
    background-color: #45a049; 

}
.option-link:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(72, 255, 72, 0.8); 
    background-color: pink;/* Green glow effect */
}
.option-link.persistent-focus {
  box-shadow: 0 0 5px rgba(72, 255, 72, 0.8);
  background-color: pink;
}

#equation{
  width: 99%;

}
.input-pane{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.dynamic-result{
  margin: 1px 20px;
  display: block;
  height: 20px;
}
#submit,#clearHistoryBtn,.append-history,#clear{
  box-shadow: inset 5px 5px 12px #656262, 5px 5px 12px rgba(0, 0, 0, 0.16);
  color: rgb(132, 114, 11);
  border-radius: 10%;
  padding: 15px;
}



/* Styling the Steps Content Div */
#stepsContent,#result {
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  border-left: 5px solid #4CAF50;
}

#stepsContent h2,#result h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

/* Styling the Graph Content Div */
#graphContent {
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

#graphContent h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

/* Adding responsive behavior */
@media (max-width: 768px) {
  #result, #stepsContent, #graphContent {
      margin: 10px;
      padding: 15px;
  }

  #result h2, #stepsContent h2, #graphContent h2 {
      font-size: 20px;
  }
}
#history-list{
  display: flex;
  flex-direction: column-reverse;
}
.history-item{
  overflow: auto;
}
.output-pane{
  text-align: justify;
  margin: 5px;
  padding: 5px;
}


#graphContent {
  margin: 0 auto; 
  overflow: auto; 
  margin-bottom: 50px;
}
.explaination-pane{
  margin-bottom: 100px;
}
.footer-div{
  width:100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-button:nth-child(odd) {
  background-color: #FFDDC1;  
  border: 2px solid #D85C5C; 
}

.footer-button:nth-child(even) {
  background-color: #ec5e5e;  
  border: 2px solid #234a26; 
}

/* Define the loading screen styles */
.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-spinner {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 600px) {
  p{
    font-size: small;
  }
  .slider-right-button{
    display: inline;
  } 
  .left-span{
    display: none;
  }
  .right-span{
    width: 99%;
    left: 1%;
  }
  .title-mobile{
    display: none;
  }
  #equation{
    width: 94%;
  }
  .input-feild-container{
    min-height: 100px;
  }
  .input-pane{
    flex-direction: column;
  }
}

.dark-mode {
  background-color: #333;
  color: #fff;
}