<!DOCTYPE html>
<html lang="en" color-scheme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='images/icon.jpg') }}" type="image/jpg">
  <link rel="stylesheet" type="text/css" href="./static/css/repeated.css" />
  <title>DigiMathsBot</title>
  <style>
    main{
      height: 100vh;  
      display: flex;  
      flex-direction: column;
      justify-content: center;  
      align-items: center; 
    }
    h1 {
      font-size: 2.5em;
    }
  </style>
</head>
<body>
  <header class="flex-space-btw">
    <a href="/" class="link">Home</a> 
    DigiMathsBot
    <a href="BhaskarAcharya" class="link">BhaskarAcharya</a> 
  </header>
  <main>
    <h1>DigiMathsBot</h1> 
    <h2>Coming Soon ......</h2>
  </main>
</body>
</html>