Contact Me: 
<a href="https://x.com/panditashushukl" target="_blank">
    <i class="fab fa-twitter"></i>
</a>
<a href="https://www.linkedin.com/in/panditashushukl/" target="_blank">
    <i class="fab fa-linkedin"></i>
</a>
<a href="https://github.com/panditashushukl" target="_blank">
    <i class="fab fa-github"></i>
</a>
<a href="https://t.me/panditashushukl" target="_blank">
    <i class="fab fa-telegram"></i>
</a>
<a href="https://www.instagram.com/panditashushukl/" target="_blank">
    <i class="fab fa-instagram"></i>
</a>