<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='images/icon.jpg') }}" type="image/jpg">
  <title>𝟙𝟠𝟡</title>
  <link rel="stylesheet" type="text/css" href="./static/css/repeated.css" />
  <link rel="stylesheet" type="text/css" href="./static/css/home.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<body>

    <main>
      <div class="main-div">
      <div class="world-189">Welcome to the <span>𝟙𝟠𝟡</span> World </div>
      <hr>
      <ul>
      Start Exploring :
        <li><a href="BhaskarAcharya">BhaskarAcharya MathsSolver</a></li>
        <li><a href="DigiMathsBot">DigiMathsBot</a></li>
      </ul>
      <hr>
      <div class="contact-desktop">
        {% include 'contact.html' %}
      </div>
      <hr>
      <nav>
        <button class="slider-left-button" onclick="toggleSlider('left');">How to use Website?</button><br>
        <button class="slider-right-button" onclick="toggleSlider('right');">info</button>
      </nav>
    </div>
    </main>
    
  <div class="slider right-slider" id="rightSlider">
    <div class="sticky-0">
      <button class="back-button" onclick="toggleSlider('null')" hover-content="back">
        ←
      </button>
      <button class="close-button" onclick="toggleSlider('null')" hover-content="close">
        ✖
      </button>
    </div>
    <div class="slider-content right-slider-content">
    <h2>Developed by ASHUTOSH SHUKLA</h2>
    <hr>
    <ul>
      Our Models :
        <li><a href="BhaskarAcharya">BhaskarAcharya MathsSolver</a></li>
        <li><a href="DigiMathsBot">DigiMathsBot</a></li>
      </ul>
    <hr>
    {% include 'contact.html' %}
    </p>
   </div>
  </div>
  <div class="slider left-slider" id="leftSlider">
    <div class="sticky-0">
      <button class="back-button" onclick="toggleSlider('null')" hover-content="back">
        ←
      </button>
      <button class="close-button" onclick="toggleSlider('null')" hover-content="close">
        ✖
      </button>
    </div>
    <div class="slider-content">
      <div class="flex-space-btw">
        <div class="content-col-1">
          <h2>About both Models</h2>
          <p style="font-size: large;">
            The BhaskarAcharya model is for basic calculation oriented problems <br><br>
            The DigiMathsBot model is for solving the complex Mathematical problems which is in development 
          </p>
        </div>
        <div class="content-col-2">
          <h2>How to use Website?</h2>
          <p style="font-size: large;">
            Type Maths Problem and Select the accurate option to get accurate results.
          </p>
          <iframe width="95%" height="auto" src="https://www.youtube.com/embed/EmSogdHBg5M?si=fY4_OK8Nie91AOD9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
      <h2>Highlight of the Website</h2>
      <div class="explaination-pane">
        <button hover-content="Change Theme" id="toggleTheme">
          <i class="fas fa-moon"></i>
        </button>
        {% include 'explaination.html' %}
      </div>
    </div>
  </div>
  <footer class="center">
      Developer: ASHUTOSH SHUKLA
  </footer>
  <script src="./static/script/slider&Sidebar.js"></script>
</body>
</html>