<b class="what-i-do">What can I do?<br><br></b>
<a href="#" class="option-link" data-option="simple">Simple Calculator</a><br>
<a href="#" class="option-link" data-option="functions">Function with argument</a><br>
<a href="#" class="option-link" data-option="quadratic">Quadratic Equation</a><br>
<a href="#" class="option-link" data-option="linear1">Linear Equation in one variable</a><br>
<a href="#" class="option-link" data-option="linear2">Linear Equation in two variable</a><br>
<a href="#" class="option-link" data-option="linear3">Linear Equation in three variable</a><br>